<h2>Celebrities we so care about</h2>
<form action="/celebrities/create" method="POST">
<ul>
<li><label>Name:
<input type="text" name="name">
</label>
</li>

<li><label>Occupation:
<input type="text" name="occupation">
</label>
</li>

<li><label>Catch Phrase
<textarea name="catchPhrase"  cols="30" rows="10"></textarea>
</label>
</li>


<li><button type="submit">Add Celebrity</button></li>
</ul>
</form>