<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Create</a>
<a href="/celebrities">Click to see the Celebrities</a>
<a href="/movies/create">Create a Movie</a>
<a href="/movies">Click to see the Movies</a>
 
